---
interface Props {
	number: string;
	title: string;
  class?: string;
}

const { number, title, class: className } = Astro.props;
---

<h2 class=`${className}font-serif text-3xl sm:text-4xl md:text-4xl lg:text-5xl xl:text-5xl 2xl:text-6xl 3xl:text-6xl 4xl:text-7xl font-light flex items-baseline gap-4 text-slate-900 dark:text-slate-100 tracking-tight leading-[1.3]`>
	<span>{title}</span>
</h2>